#text {
color: white;
}

body {
	background-color: black;
}

h1 {
	color: white;
}

h3 {
	color: white;
}

#speedwagon {
	
}

#kekyoin {
	width: 250px;
	height: 250px;
}

#oijosuke {
	width: 250px;
	height: 250px;
}

#dick {
	color: black;
}

#chode {
	width: 69px;
	height: 69px;
}

#sharkmanlol {
	height: 69px;
	width: 69px;
}